NEXT_PUBLIC_QUAI_NETWORK=testnet

# Orchard testnet per-zone examples (uncomment to override defaults)
# NEXT_PUBLIC_QUAI_TESTNET_CYPRUS1_RPC_HTTP=https://orchard.rpc.quai.network/cyprus1
# NEXT_PUBLIC_QUAI_TESTNET_PAXOS1_RPC_HTTP=https://orchard.rpc.quai.network/paxos1
# NEXT_PUBLIC_QUAI_TESTNET_HYDRUS1_RPC_HTTP=https://orchard.rpc.quai.network/hydrus1
